{% extends "base.html" %}

{% block title %}42NN - {{ article.title }}{% endblock %}

{% block page_title %}{{ article.title }}{% endblock %}

{% block page_subtitle %}By {{ article.author }}{% endblock %}

{% block content %}
<h1>{{ article.title }}</h1>
<h3>By {{ article.author }} on {{ article.created }}</h3>
<h4><strong>{{ article.synopsis }}</strong></h4>
<p>{{ article.content }}</p>
{% if user.is_authenticated %}
	<a href="{% url 'add_favourite' article.pk %}" class="btn btn-primary">Add to Favourites</a>
{% endif %}
{% endblock %}