{% extends "base.html" %}

{% block title %}42NN - Publications{% endblock %}

{% block content %}
<h1>Articles</h1>
<a href="{% url 'publish' %}">Publish a New Article</a>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Synopsis</th>
			<th>Created</th>
		</tr>
	</thead>
	<tbody>
		{% for article in articles %}
		<tr>
			<td><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</td>
			<td>{{ article.synopsis }}</td>
			<td>{{ article.created }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
