{% extends "base.html" %}

{% block page_title %}Ex01: Django, framework web.{% endblock %}

{% block content_title %}Django framework: a brief introduction{% endblock %}

{% block content %}
<p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. It was first released in July 2005 and has since become one of the most popular web frameworks for Python.</p>
<p>Django follows the "batteries-included" philosophy, providing many built-in features such as an ORM (Object-Relational Mapping) for database interactions, an admin interface, and tools for handling user authentication, URL routing, and more.</p>
<p>The framework is known for its "Don't Repeat Yourself" (DRY) principle, which promotes code reuse and reduces redundancy. It also emphasizes the use of convention over configuration, making it easier for developers to get started quickly.</p>
{% endblock %}