{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AJAX Login</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{% static 'account/js/login.js' %}" defer></script>
</head>
<body>
	{% if user.is_authenticated %}
		<p>Logged as {{ user.username }}</p>
		<button id="logout-btn">Logout</button>
	{% else %}
		<form id="login-form">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Login</button>
		</form>
		<div id="error-messages"></div>
	{% endif %}
</body>
</html>
